@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@keyframes marquee-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.marquee-left {
  animation: marquee-right 20s linear infinite;
}

.marquee-right {
  animation: marquee-left 20s linear infinite;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientShift 12s ease infinite;
}
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-shine {
  animation: shine 2.5s infinite;
}
